
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: 
    #273746;
}
/* #DAF7A6
#C70039
 */

#circle-one {
    width: 300px;
    height: 300px;
    background-color: #DAF7A6;
    border-radius: 50%;
    position: absolute;
    left: -150px;
    bottom: -150px;
    color: #FF5733;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

#circle-two {
    width: 300px;
    height: 300px;
    background-color: #FF5733;
    border-radius: 50%;
    position: absolute;
    right: -150px;
    top: -150px;
    color: #DAF7A6;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
.myChrono {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #EEE;
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 50%;
    height: 40%;
    border: 2px solid black;
    border-radius: 10px;
}
.chrono {
    background-color: black;
    position: relative;
    left: -40px;
    width: 100%+40px;
    width: calc(100% + 80px);
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(18, 37, 53, 0.25) ;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
}
.btns button {
    background-color: #273746;
    border-radius: 5px;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: white;
}